h1 {

    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #504f4f;
}

.intro {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recipes {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}