[Desktop Entry]
Version=1.0
Type=Link
Name=igado
Comment=
Icon=user-bookmarks
URL=https://www.google.com/imgres?q=igado&imgurl=https%3A%2F%2Fkusinasecrets.com%2Fwp-content%2Fuploads%2F2024%2F11%2Fu3317447599_Homemade_Filipino_Igado_on_white_ceramic_plate_in_a2293d19-f3c1-4c8d-9327-82ea60203ba8_3.png&imgrefurl=https%3A%2F%2Fkusinasecrets.com%2Fauthentic-ilocano-igado-pork-and-liver-stew%2F&docid=UHjzrqNeUU9QxM&tbnid=xrG4BufB4yF7VM&vet=12ahUKEwjo8-iDgaKMAxVgr1YBHSJyF4gQM3oECFYQAA..i&w=1024&h=1024&hcb=2&ved=2ahUKEwjo8-iDgaKMAxVgr1YBHSJyF4gQM3oECFYQAA
